includes:
    - ./vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - tests

    excludePaths:
        - app/Helpers/Lead.php

    level: 9
    parallel:
        maximumNumberOfProcesses: 4
